<h1>Edit Books</h1>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields.ejs') %>
  <button><a href="/books">Cancel</a></button>
  <button type="submit">Update</button>
</form>