<header>
  <nav>
    <h1><a href="/">Bookland</a></h1>
    <ul>
      <li><a href="/authors">Author</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Books</a></li>
    </ul>
  </nav>
</header>